body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777777;
}

.bgimg-1, .bg-img-2, .bgimg-3 {
    position: relative;
    opacity: 0.80;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url(bonus-exercise-assets/cat-1.jpg);
    min-height: 100%;
}
.bgimg-2 {
    background-image: url(bonus-exercise-assets/cat-2.jpg);
    min-height: 100%;
}
.bgimg-3 {
    background-image: url(bonus-exercise-assets/cat-3.jpg);
    min-height: 100%;
}

.caption {
    
position: absolute;
left: 0;
top: 50%;
width: 100%
    
}

.caption span.border {
    background-color: #111111;
    color: #ffffff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

