body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #cee0ed
}
nav {
    float:right;
}
h1 {
    margin-bottom:0;
    color:#415e86;
}

h2 {
    color: #415e86;
}

h3 {
    color:#567e9b;
}

p {
    color: darkslategrey
}



div.mybox {
    width: 100%;
    overflow:auto;
}

div.mybox div {
    width: 50%;
    float:left;
}

.button{
    background-color: #415e86; 
    border: none; 
    color: #cee0ed; 
    padding: 5px 30px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 0.3rem;
}

.button:hover{
    background-color: #567e9b; 
    border: none; 
    color: #cee0ed; 
    padding: 4px 30px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 0.3rem;
}